
<div *ngIf="isLoading; else content">
  <p>Loading...</p>
</div>

<ng-template #content>
  <div class="center">
    <h1>Cartes</h1>
    <div *ngFor="let card of cards" class="card" [ngClass]="card.color">
      <span class="card-value">{{ card.value }}</span>
      <span class="card-color">{{ designForm(card.color) }}</span>
    </div>
      <div class="container-switch">
      <label class="switch">
        <input type="checkbox" [(ngModel)]="sort" (change)="sortChange()" [disabled]="isLoading"/>
        <span></span>
      </label>
      <span>Triées</span>
      </div>
  </div>
</ng-template>
